In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/results.csv')

In [5]:
df.tail(3)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
43749,2022-06-14,Chile,Ghana,0,0,Kirin Cup,Suita,Japan,True
43750,2022-06-14,Japan,Tunisia,0,3,Kirin Cup,Suita,Japan,False
43751,2022-06-14,South Korea,Egypt,4,1,Friendly,Seoul,South Korea,False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43752 entries, 0 to 43751
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        43752 non-null  object
 1   home_team   43752 non-null  object
 2   away_team   43752 non-null  object
 3   home_score  43752 non-null  int64
 4   away_score  43752 non-null  int64
 5   tournament  43752 non-null  object
 6   city        43752 non-null  object
 7   country     43752 non-null  object
 8   neutral     43752 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.7+ MB

In [9]:
df.date.min()

'1872-11-30'

In [10]:
df.date.max()

'2022-06-14'

In [11]:
df.home_team.unique()

array(['Scotland', 'England', 'Wales', 'Northern Ireland',
       'United States', 'Uruguay', 'Austria', 'Hungary', 'Argentina',
       'Belgium', 'France', 'Netherlands', 'Czechoslovakia',
       'Switzerland', 'Sweden', 'Germany', 'Italy', 'Chile', 'Norway',
       'Finland', 'Luxembourg', 'Russia', 'Denmark', 'Catalonia',
       'Basque Country', 'Brazil', 'Japan', 'Paraguay', 'Canada',
       'Estonia', 'Costa Rica', 'Guatemala', 'Spain', 'Brittany',
       'Poland', 'Yugoslavia', 'New Zealand', 'Romania', 'Latvia',
       'Galicia', 'Portugal', 'Andalusia', 'China PR', 'Australia',
       'Lithuania', 'Turkey', 'Central Spain', 'Mexico', 'Aruba', 'Egypt',
       'Haiti', 'Philippines', 'Bulgaria', 'Jamaica', 'Kenya', 'Bolivia',
       'Peru', 'Honduras', 'Guyana', 'Uganda', 'Belarus', 'El Salvador',
       'Barbados', 'Republic of Ireland', 'Trinidad and Tobago', 'Greece',
       'Curaçao', 'Dominica', 'Silesia', 'Guadeloupe', 'Israel',
       'Suriname', 'French Guiana', 'Cuba', 'Colombia', 'Ecuador',
       'Saint Kitts and Nevis', 'Panama', 'Slovakia', 'Manchukuo',
       'Croatia', 'Nicaragua', 'Afghanistan', 'India', 'Martinique',
       'Zimbabwe', 'Iceland', 'Albania', 'Venezuela', 'Madagascar',
       'Zambia', 'Mauritius', 'Tanzania', 'Iran', 'Djibouti', 'DR Congo',
       'Vietnam', 'Macau', 'Ethiopia', 'Puerto Rico', 'Réunion',
       'Sierra Leone', 'Zanzibar', 'South Korea', 'Ghana', 'South Africa',
       'New Caledonia', 'Fiji', 'Nigeria', 'Myanmar', 'Sri Lanka',
       'Tahiti', 'Gambia', 'Hong Kong', 'Singapore', 'Malaysia',
       'Indonesia', 'Guinea-Bissau', 'German DR', 'Vanuatu', 'Kernow',
       'Saarland', 'Cambodia', 'Lebanon', 'Pakistan', 'Vietnam Republic',
       'North Korea', 'Togo', 'Sudan', 'Malta', 'Syria', 'Tunisia',
       'Malawi', 'Morocco', 'Benin', 'Cameroon',
       'Central African Republic', 'Gabon', 'Ivory Coast', 'Congo',
       'Mali', 'North Vietnam', 'Mongolia', 'Taiwan', 'Cyprus', 'Iraq',
       'Saint Lucia', 'Grenada', 'Thailand', 'Senegal', 'Libya', 'Guinea',
       'Algeria', 'Kuwait', 'Jordan', 'Solomon Islands', 'Liberia',
       'Laos', 'Saint Vincent and the Grenadines', 'Bermuda', 'Niger',
       'Montenegro', 'Palestine', 'Bahrain', 'Papua New Guinea',
       'Burkina Faso', 'Mauritania', 'Saudi Arabia', 'Eswatini',
       'Western Australia', 'Somalia', 'Lesotho', 'Cook Islands', 'Qatar',
       'Antigua and Barbuda', 'Faroe Islands', 'Bangladesh', 'Yemen',
       'Oman', 'Yemen DPR', 'Burundi', 'Mozambique', 'Guam', 'Chad',
       'Angola', 'Dominican Republic', 'Seychelles', 'Rwanda',
       'São Tomé and Príncipe', 'Botswana', 'Northern Cyprus',
       'Cape Verde', 'Kyrgyzstan', 'Georgia', 'Azerbaijan', 'Kiribati',
       'Tonga', 'Wallis Islands and Futuna', 'United Arab Emirates',
       'Brunei', 'Equatorial Guinea', 'Liechtenstein', 'Nepal',
       'Greenland', 'Niue', 'Samoa', 'American Samoa', 'Belize',
       'Anguilla', 'Cayman Islands', 'Palau', 'Sint Maarten', 'Namibia',
       'Åland Islands', 'Ynys Môn', 'Saint Martin', 'San Marino',
       'Slovenia', 'Jersey', 'Shetland', 'Isle of Wight', 'Moldova',
       'Ukraine', 'Kazakhstan', 'Tajikistan', 'Uzbekistan',
       'Turkmenistan', 'Armenia', 'Czech Republic', 'Guernsey',
       'Gibraltar', 'Isle of Man', 'North Macedonia', 'Montserrat',
       'Serbia', 'Canary Islands', 'Bosnia and Herzegovina', 'Maldives',
       'Andorra', 'British Virgin Islands', 'Frøya', 'Hitra',
       'United States Virgin Islands', 'Corsica', 'Eritrea', 'Bahamas',
       'Gotland', 'Saare County', 'Rhodes', 'Micronesia', 'Bhutan',
       'Orkney', 'Monaco', 'Tuvalu', 'Sark', 'Alderney', 'Mayotte',
       'Turks and Caicos Islands', 'Timor-Leste', 'Western Isles',
       'Falkland Islands', 'Kosovo', 'Republic of St. Pauli', 'Găgăuzia',
       'Tibet', 'Occitania', 'Sápmi', 'Northern Mariana Islands',
       'Menorca', 'Comoros', 'Provence', 'Arameans Suryoye', 'Padania',
       'Iraqi Kurdistan', 'Gozo', 'Bonaire', 'Western Sahara', 'Raetia',
       'Darfur', 'Tamil Eelam', 'South Sudan', 'Abkhazia',
       'Saint Pierre and Miquelon', 'Artsakh', 'Madrid', 'Vatican City',
       'Ellan Vannin', 'South Ossetia', 'County of Nice', 'Székely Land',
       'Romani people', 'Felvidék', 'Chagos Islands',
       'United Koreans in Japan', 'Somaliland', 'Western Armenia',
       'Barawa', 'Kárpátalja', 'Yorkshire', 'Panjab', 'Matabeleland',
       'Cascadia', 'Kabylia', 'Parishes of Jersey', 'Chameria',
       'Saint Helena'], dtype=object)

In [12]:
len(df.home_team.unique())

306

In [15]:
df.query('away_team=="Morocco"')

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
4851,1960-11-13,Tunisia,Morocco,2,1,FIFA World Cup qualification,Tunis,Tunisia,False
4905,1961-04-02,Ghana,Morocco,0,0,FIFA World Cup qualification,Accra,Ghana,False
4962,1961-06-18,Yugoslavia,Morocco,3,2,Friendly,Belgrade,Yugoslavia,False
4964,1961-06-21,German DR,Morocco,1,2,Friendly,Erfurt,German DR,False
5053,1961-11-23,Spain,Morocco,3,2,FIFA World Cup qualification,Madrid,Spain,False
...,...,...,...,...,...,...,...,...,...
43132,2021-12-04,Jordan,Morocco,0,4,Arab Cup,Al Rayyan,Qatar,True
43198,2022-01-18,Gabon,Morocco,2,2,African Cup of Nations,Yaoundé,Cameroon,True
43244,2022-01-30,Egypt,Morocco,2,1,African Cup of Nations,Yaoundé,Cameroon,True
43327,2022-03-25,DR Congo,Morocco,1,1,FIFA World Cup qualification,Kinshasa,DR Congo,False
43475,2022-06-01,United States,Morocco,3,0,Friendly,Cincinnati,United States,False

In [17]:
df.groupby(['home_team']).agg({'date':'count'}).reset_index().sort_values(by='date', ascending=False)

                     home_team  date
35                      Brazil   589
12                   Argentina   564
168                     Mexico   543
99                     Germany   524
80                     England   520
..                         ...   ...
51               Central Spain     1
217              Romani people     1
232                       Sark     1
54                    Chameria     1
228  Saint Pierre and Miquelon     1

[306 rows x 2 columns]

In [18]:
df.groupby(['away_team']).agg({'date':'count'}).reset_index().sort_values(by='date', ascending=False).head(20)

       away_team  date
281      Uruguay   556
252       Sweden   545
81       England   522
119      Hungary   489
201     Paraguay   471
100      Germany   456
12     Argentina   447
205       Poland   445
299       Zambia   435
91       Finland   430
36        Brazil   425
191       Norway   417
230     Scotland   416
253  Switzerland   408
73       Denmark   406
215       Russia   405
244  South Korea   404
40      Bulgaria   387
55         Chile   386
18       Austria   380

In [19]:
df.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

In [21]:
import matplotlib.pyplot as plt
import seaborn as sns